.table-container{
  margin: 20px;
}
input[type="text"] {
  padding: 5px;
  margin-bottom:10px;
}
table{
  border-collapse: collapse;
  width: 100%;
}
th,td{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th{
  background-color: #3d3d3d;
  color: white;
}